@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');


@font-face {
	font-family: 'RocknRoll One';
	src: url(/fonts/RocknRoll_One/RocknRollOne-Regular.ttf);
}

@font-face {
	font-family: 'M PLUS 2';
	src: url(/fonts/M_PLUS_2/MPLUS2-VariableFont_wght.woff2) format("woff-variations");
	font-weight: 100 900;
}

:root {
	font-family: "M PLUS 2";
	font-variation-settings: "wght" 400;
	accent-color: #2afa70; 
	background-color: #fbeaf5;
	font-size: 20px;
	color: #1c1d1d;
	margin: 0%;

	word-break: normal;

	@media (max-width: 600px) {
		font-size: 15px;
	}
}

a {
	text-decoration: none;
	/* color: #1c1d1d; */
	color: #14ea5b;
	font-variation-settings: "wght" 700;
}

h1 {
	font-size: 150%;
}

strong {
	font-variation-settings: "wght" 700;
}