@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');
:root {
	font-family: "M PLUS 2";
	accent-color: #2afa70;
	background-color: #fbeaf5;
	color: #1c1d1d;
	margin: 0%;
}

a {
	text-decoration: none;
	color: #2afa70;
}